.text{
    background-color: #ddd;
    width: 200px;
    margin: 0 auto;
    color:tomato;
    font-size: 10px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis
}                                                                                                                                                                                                                                   